div.library {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 90%;
	background-color: #272727;
	opacity: 0.7;
	padding-bottom: 30px;
	border-radius: 5%;
	height: auto;
}

div.library-legend {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 50px auto;
	width: 100%;
}

div.library h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: wheat;
}

div.reading, div.favorite, div.read {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	margin: 20px auto;
	padding-bottom: 20px;
	height: auto;
}

div.reading, div.favorite {
	border-bottom: 0.5px solid wheat;
}

div.library-section {
	box-sizing: border-box;
	width: 98%;
	height: 35px;
	margin: 10px auto;
}

div.books {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	margin: 0px auto;
	flex-wrap: wrap;
	width: 98%;
	height: auto;
}

div.book {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 2px;
	border: 1px solid wheat;
	width: 360px;
	max-width: 500px;
	height: auto;
	border-radius: 5%;
	margin-right: 20px;
}

div.book-header {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
}

div.book-image, div.book-title {
	flex: 40%;
	height: auto;
	margin: 10px;
}


div.book-image img {
	width: 100%;
	height: auto;
}

div.book-title h5 {
	text-align: center;
}

div.book-title p {
	margin: 2px;
	color: wheat;
}

div.book-body {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

div.book-icon, div.book-read {
	box-sizing: border-box;
	flex: 100%;
	height: auto;
	margin: 10px;
}

div.reading div.book-read {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.favorite div.book-read, div.read div.book-read {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.book-icon p {
	margin: 2px;
	color: wheat;
}

@media (max-width: 850px) {
	div.book {
		width: 100%;
		margin-right: 2px;
	}

	div.books {
		justify-content: center;
	}
}

@media (max-width: 1100px) {
	div.books {
		justify-content: space-around;
	}
	div.book {
		margin-right: 2px;
	}
}

div.book-read .reading-link {
	background-color: white;
	opacity: 0.8;
	width: 150px;
	border: 2px solid #444;
	border-radius: 10px;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
  	padding: 12px 30px 12px 30px;
  	text-align: center;
  	text-decoration: none;
}

div.book-read .image-link {
	width: 40px;
	height: 40px;
	border: none;
	margin: 0px;
}

div.favorite .reading-link , div.read .reading-link {
	margin-right: 30px;
}