{% extends "index.html" %}
{% block add_data %}
	{% if current_user.is_authenticated %}
		<script src="{{ url_for('static', filename='js/script_1.js') }}"></script>
	{% else %}
		<script src="{{ url_for('static', filename='js/script_1_un.js') }}"></script>
	{% endif %}
{% endblock %}
{% block content %}
		<section id="search">
			<form>
			<div class="container form">
				<div id="formIntro"><h1>Custom Query</h1></div>
				<div class="row_1">
					<label for="inputData" class="form-label ">Search</label>
		 			<input type="text" name="search" id="inputData" class="form-control" placeholder="terms">		
				</div>
				<div class="row_2">
		 			<label for="options" class="form-label">Based On</label>
		 			<select id="options" class="form-select" >
		 				<option value="intitle" selected>Title</option>
		 				<option value="inauthor">Author</option>
		 				<option value="inpublisher">Publisher</option>
		 				<option value="subject">Subject</option>
		 				<option value="isbn">ISBN</option>
		 				<option value="lccn">LCCN</option>
		 				<option value="oclc">OCLC</option>
		 			</select>
		 			<input type="text" id="option_value" class="form-control" placeholder="name">		
				</div>
				<div class="row_3">
		 			<label for="quantity" class="form-label">Items</label>
		 			<input type="range" step= "1" class="form-range" min="1" max="40" id="quantity">	
				</div>
				<div class="row_4">
		 			<label for="sort" class="form-label">Sorting</label>
		 			<select id="sort" class="form-select" >
		 				<option value="relevance" selected>Relevance</option>
		 				<option vlaue="newest">Newest</option>		
		 			</select>					
				</div>
		 		<div class="row_5">
		 			<input type="checkbox" class="form-check-input" id="download">
		 			<label for="download" class="form-check-label">Download Format</label>
		 		</div>
		 		<div class="row_6">
		 			<input type="button" class="btn btn-light"  id="Submit" value="Search">
		 			<input class="btn btn-light" type="reset">
		 		</div>
			</div>
			<div class="article"></div>	
			</form>
		</section>
{% endblock content %}
