{% extends "index.html" %}
{% block add_data %}
	{% if current_user.is_authenticated %}
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	{% else %}
		<script src="{{ url_for('static', filename='js/script_un.js') }}"></script>
	{% endif %}
{% endblock %}
{% block content %}
	<section id="search">
		<div class="center">
			<div class="center_inner">
		 		<input type="text" name="search" id="inputData" placeholder="title, author...">
		 		<input type="submit" id="Submit" value="Search">
		 	</div>
		 	<div class="center_inner">
		 		<a href="{{ url_for('advancedRoute') }}" id="advanced">Custom Query</a>
			</div>
		</div>
		<div class="article"></div>
	</section>
{% endblock content %}
