{% extends "index.html" %}
{% block add_data %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
	<script src="{{ url_for('static', filename='js/library.js') }}"></script>
{% endblock %}
{% block content %}
	<section id="search">
		<div class="library">
			<div class="library-legend">
				<h1>MY LIBRARY</h1>
			</div>
			<div class="reading" title="All Books Which Bookmarked!">
				<div class="library-section"><h2>BOOKMARK</h2></div>
				<div class="books">
					{% for book in readings %}
					<div class="book">
						<div class="book-header">
							<div class="book-image">
								<img src="{{ book.thumbnail }}">
							</div>
							<div class="book-title">
								<h5>{{ book.title }}</h5>
								<p>Author: {{ book.authors }} </p>
								<p>Average Rate: {{ book.averageRating }}</p>
							</div>
						</div>
						<div class="book-body">
							<div class="book-icon">
								<p>Booked Date: {{ book.booked_date.strftime('%Y-%m-%d') }}</p>
								<p>Last Reading Date: {{ book.last_read.strftime('%Y-%m-%d') }}</p>
								<p title="Track Your Reading Process">Page Read:  <input class="track_reading {{ book.book_id }} " type="range" value={{ book.page }} min="0" max={{ book.pageCount }} oninput="this.nextElementSibling.value = this.value"> <output>{{ book.page }}</output></p>
							</div>
							<div class="book-read">
								<a href='/book?id={{ book.book_id }}' class="reading-link" title="Open The Book In PDF Format ">Preview</a>
								<a href=""><img src="../static/images/favorite.png" class="image-link {{ book.book_id }} addfav" title="Add To Favorite!"></a>
								<a href=""><img src="../static/images/read.png" class="image-link {{ book.book_id }} addread" title="Add To Read"></a>
								<a href=""><img src="../static/images/remove.png" class="image-link {{ book.book_id }} removebmk" title="Remove From Bookmark"></a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>				
			</div>

			<div class="favorite">
				<div class="library-section"><h2>FAVORITE</h2></div>
				<div class="books">
					{% for book in favorites %}
					<div class="book">
						<div class="book-header">
							<div class="book-image">
								<img src="{{ book.thumbnail }}">
							</div>
							<div class="book-title">
								<h5>{{ book.title }}</h5>
								<p>Author: {{ book.authors }} </p>
								<p>Average Rate: {{ book.averageRating }}</p>
							</div>
						</div>
						<div class="book-body">
							<div class="book-read">
								<a href='/book?id={{ book.book_id }}' class="reading-link" title="Open The Book In PDF Format ">Preview</a>
								<a href="#"><img src="../static/images/remove.png" class="image-link {{ book.id }} removefav" title="Remove From Favorite"></a>		
							</div>
						</div>
					</div>
					{% endfor %}
				</div>				
			</div>

			<div class="read">
				<div class="library-section"><h2>READ</h2></div>
				<div class="books">
					{% for book in readend %}
					<div class="book">
						<div class="book-header">
							<div class="book-image">
								<img src="{{ book.thumbnail }}">
							</div>
							<div class="book-title">
								<h5>{{ book.title }}</h5>
								<p>Author: {{ book.authors }} </p>
								<p>Average Rate: {{ book.averageRating }}</p>
							</div>
						</div>
						<div class="book-body">
							<div class="book-read">
								<a href='/book?id={{ book.book_id }}' class="reading-link" title="Open The Book In PDF Format ">Preview</a>
								<a href="#"><img src="../static/images/remove.png" class="image-link {{ book.id }} removeend" title="Remove From Favorite"></a>		
							</div>
						</div>
					</div>
					{% endfor %}
				</div>				
			</div>

		</div>
	</section>
{% endblock content %}
