{% extends "index.html" %}
{% block add_data %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
	<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
{% block content %}
	<section id="search">
		<div class="user-container">
			<div class="user-image">
				<img src="../static/images/{{ user.image }}">
			</div>
			<div class="user-name">
				<h1>{{user.username | capitalize }}</h1>
			</div>
			<div class="user-status">
				<div class="follow-unfollow">
					<h3>{{ followers }} followers</h3>
					<h3>{{ following }} following</h3>
				</div>
				<div class="user-span">
				{% if current_user.id != user.id %}
					{% if flag == 1 %}
						<span>follow</span>
					{% else %}
						<span>unfollow</span>
					{% endif %}
				{% endif %}
				</div>
			</div>
			<div class="user-bio">
				<p>{{ user.bio }}</p>
			</div>
			{% if current_user.id != user.id %}
			<div class="user-follow">
				<button id="{{ user.id }}" class="follow">Follow</button>
				<button id="{{ user.id }}" class="Unfollow">UnFollow</button>
			</div>
			{% else %}
			{% if current_user.is_authenticated %}
			<div class="show-friens-all"><h1>Following</h1></div>
			<div class="user-follow-class">
			{% for u in user.followed %}
			<div class="user-follow-1">
				<div class="show-friends-img">
					<a href="{{ url_for('Users', user_id=u.id) }}">
						<img src="{{ url_for('static', filename='images/' + u.image) }}">
					</a>
				</div>
				<div class="show-friends-name">
					<a href="{{ url_for('Users', user_id=u.id) }}">
						<h2>{{u.username | capitalize}}</h2>
					</a>
				</div>
			</div>
			{% endfor %}
			</div>			
			{% endif %}
			{% endif %}
		</div>
	</section>
{% endblock content %}