{% extends "index.html" %}
{% block add_data %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block google_api %}
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();

      var index = document.URL.indexOf('?'); 
      var id = "";

      if (index > 0) { 
        id  = document.URL.substring(index, document.URL.length).split("=")[1];
      }

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load(id);
      }
      
      google.books.setOnLoadCallback(initialize);
    </script>
{% endblock %}
{% block content %}
	<section id="search">
		<div id="viewerCanvas" class="bookview"></div>
	</section>
{% endblock content %}
